
<table class = "profile-table">
    <tr>

      <th><%=@user.name%></th>
    </tr>
    <tr>
      <td><img src= <%=@user.avatar_url %>/></td>
    </tr>

    <tr>
      <td><a class="buttonize" href="#">Like</a></td>
    </tr>
  </table>
