
<table class = "profile-table">
    <tr>

      <th><%=current_user.name%></th>
    </tr>
    <tr>
      <td><img src= <%=current_user.avatar_url %>/></td>
    </tr>

    <tr>
      <td><a href="#">Like</a></td>
    </tr>
    <% end %>
  </table>
