<form method="post" action="/posts/<%=@post.id%>/edit">
  <input type="hidden" name="_method" value="put">
  <%= render 'shared/errors' %>
  <p>
    <textarea name = "post[content]" cols="60" rows="5" placeholder="What's on your mind?"></textarea>
  </p>
  <p>
    <input type="submit" value = "Post" />
  </p>
</form>
