
<% if user_signed_in?%>
<div class="links-left">
  <ul class="links-list">
    <li><a href="/users/<%=current_user.id%>"><%=current_user.name %></a></li>
    <li><a href="#">Friends %></a></li>
  </ul>
</div>

<div class="post-form">
<%= render 'shared/post_form' %>
</div>

<div class="newsfeed-center">
  <% if @posts %>
  <div id = "newsfeed-table">
    <% @posts.each do |post|%>
      <%= render partial: "post", locals: {post: post} %>
    <% end %>
  </div>
  <% else %>
  <p>There are no posts in your feed! Try making a few friends requests or post a story of your own.</p>
  <% end %>
</div>



<% end %>
